@font-face {
  font-family: 'Terminus';
  src: url('fonts/terminus/terminus-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Terminus';
  src: url('fonts/terminus/terminus-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Terminus';
  src: url('fonts/terminus/terminus-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Terminus';
  src: url('fonts/terminus/terminus-bold-italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}


html {
  background: #404040;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#canvas {
  position: fixed;
  margin: auto;
}

#overlay {
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nickInput {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

.app {
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100%;
  display: none;
}

#cursor-place {
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100%;
}

.cursor {
  position: absolute;
  width: 9px;
  pointer-events: none;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translate(-50%, -50%);
}

.cursor img {
  width: 9px;
  height: auto;
  display: block;
}

.cursor-label {
  font-family: 'Terminus', monospace;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(0, 0);
  font-size: 10px;
  padding: 2px 5px;
  line-height: 1.2;
  color: #ffffff;
  background: #000000;
  border-radius: 3px;
  white-space: nowrap;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.input-nick {
  width: 55%;
  height: 28px;
  padding: 4px 10px;
  background-color: #1a1b26;
  border: 2px solid #3b4261;
  border-radius: 6px;
  color: #c0caf5;
  font-family: "Fira Code", monospace;
  font-size: 14px;

  text-shadow: 0px 0px 3px rgba(122, 162, 247, 0.4);
  box-shadow: 0 0 4px rgba(122, 162, 247, 0.3);

  border-color: #7aa2f7;
  box-shadow: 0 0 6px rgba(122, 162, 247, 0.6),
    0 0 10px rgba(122, 162, 247, 0.4);
}

.input-nick:focus {
  outline: none;
}

#playButton {
  text-align: center;
  padding: 0 16px;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  border: 2px solid #3d496f;
  border-radius: 6px;
  opacity: 1;
  height: 36px;
  line-height: 36px;
  background-color: #1f2335;
  color: #3d496f;
  font-weight: bold;

  box-shadow: 0 0 4px rgba(122, 162, 247, 0.2);
  color: #7aa2f7;
  text-shadow: 0 0 3px rgba(122, 162, 247, 0.7),
    0 0 10px rgba(122, 162, 247, 0.5);
  border-color: #7aa2f7;
  box-shadow: 0 0 6px rgba(122, 162, 247, 0.6),
    0 0 10px rgba(122, 162, 247, 0.4);

  cursor: pointer;
}

#playButton:hover,
#playButton:focus {
  outline: none;
}

.input-nick::placeholder {
  color: #565f89;
}

input:focus {
  outline: none;
}
